html{
    min-height: 100vh;
    background-color: #e7e5e4;
}

html.dark, body.dark, #root.dark {
    background-color: #1e293b;
    color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;